h1 {
  color: orange;
  background-color: slategray;
  font-size: 30px;
  text-decoration: underline;
  font-family: arial;
  /*  */
  text-align: center;
}
p {
  color: slategray;
  text-align: left;
  line-height: 30px;
  letter-spacing: 2px;
}

ul {
  /* border-width: 2px;
  border-style: solid;
  border-color: pink; */
  border: 2px solid #cec0ff;
}
li {
  list-style-type: square;
}
