/* .error {
  color: red;
}

.success {
  color: green;
}

p.success.feedback {
  color: darkgoldenrod;
}

div#content {
  background-color: lightgrey;
} */
/* div p {
  color: goldenrod;
}


div .error {
  color: red;
} */

div.error {
  color: red;

  margin: 40px;
  border: 1px solid grey;
}

div p.error {
  border: inherit;
  margin: inherit;
  color: orange;
}
p {
  color: green;
}
